// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #003049;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #d62828;
$orange: #f77f00;
$yellow: #fcbf49;
$green: #00c552;
$teal: #a9e5bb;
$cyan: #1c85d5;

// Theme colors
$primary: #003049 !default;
$secondary: #6574cd !default;
$success: #00c552 !default;
$info: #1c85d5 !default;
$warning: #fcbf49 !default;
$danger: #d62828 !default;

$font-family-base: "Lato", sans-serif;
